<div class="logo" id="logosearch" >
    <%= image_tag 'logo.svg' %>
	
</div>	


<div class="cal">
<h5>Upcoming updates required<sup><%= link_to " ?", instructions_path(anchor: 'calendar1'), id: 'calendarprompt' %></sup></h5>
<div id="calendar">

</div>
</div>

