<div class="logo" id="logosearch" >
    <%= image_tag 'logo.svg' %>
  
</div>  
<div class="deletesand" >
<h2>Please contact us to delete your sandbox.  We will be offering a self delete service in the near future.</h2>
</div>