<div class="logo" id="logosearch" >
    <%= image_tag 'logo.svg' %>
  
</div>  

<div class="sandexplain" >
<h2>Instructions</h2>

<h3>Search Page</h3> 
<h5 id="helpsearch">You can search by entering the topic to search from the drop down and/or a heading.  The search box allows you to search by specific tag.  The tags will be shown as you type.  Please select a tag or tags.</h5>

<H3>Personal Note Entry</H3>

<h4>Topic Entry</h4>
<h5 id="sandtopicenter">Select a topic from the drop down list.  You can select by scrolling or typing.  A topic is a self contained area of research.  For example Russia is a good topic.  Russian politics is better as a heading.  You have access to our topics and topics you and others have created</h5>
<h4>Create a new topic</h4>
<h5 id="newtopicenter">Click here to enter your own new topic.</h5>
<h4>Heading entry</h4>
<h5 id="sandheading">Select a heading from the drop down list.  You can select by scrolling or typing.  A heading is the area of research.  If you enter a sub heading it is good practice, but not essential, to include a reference to the heading it would naturally sit beneath.  For example Production history under History is better than just Production.</h5>
<h5>Create a new heading</h5>
<h5 id="enternewheading">Click here to enter your own new heading.</h5>
<h4>The source url (web address)</h4>
<h5 id="urlentryinfo">Put the source url here, it will remain in place for all of the information you enter.  For offline entry try to put in the url to the publication or the Amazon page of the book.</h5>
<h4>Text entry</h4>
<h5 id="textentry">The entry here should use hastags(#) to identify important words.  There is no need to # words in the topic or heading.  Tagging is very important, it improves the content delivery.  An extra feature is the use of the tilde(~), this denotes a data point.  Enter the full number with no commas, the unit needs to come after the number.</h5>
<h4>Data types</h4>
<h5 id="datatype" >This is important classification for data entry.  Is the note above, a claim, evidence for a claim or a fact.  Additionally, is it just text, a list header or a list item.</h5>
<h4>Reminders</h4>
<h5 id="dateenter">If the data is time sensitive or needs to be updated, then enter a date for review.  If it is not, then leave today's date</h5>



