<section class="container4">
  <div class="explanation2" id="About">
    <h1>About us</h1>
    <div class="quote">
      <h2>"We are creating true 'living' documents.  Research documents tend to be monuments to the past.  When unveiled to the public as finished works they receive either cheers or opprobrium, but either way they soon date and remain unchanged.  News, on the other hand, is much more like a midge, it creates a buzz but has a short life.  At Minerva we have injected a bit of news DNA into the monuments, mixed in some of our own DNA and have created a set of new beasts.  Join us to create the hybrid living documents you need."</h2>
      </div>
    <div class="general">
      <h3>Our team and our journey</h3>
      <h2>Minerva was founded by a team who have extensive experience in both investment research and decision making within the financial services industry. </h2><h2>From this experience, we know that investors spend huge amount of time and money researching information and intelligence online as part of their decision-making process. While there are already a number of information services available, these are expensive and outside the financial reach of many. Google and other free resources, on the other hand, are still ineffective as they have too much irrelevant information and good intelligence is often hidden and dispersed. To solve this problem we developed an innovative technology to curate and deliver customised content to investors and facilitate their research process. </h2>
      <h2>As we were building the system, a question started to form: “Why not extend this research and sharing innovation beyond the financial world, and create a tool that can help everybody?”. So we have!  </h2>
      <h2>At Minerva, we have a vision, we want to simplify the information research process, and make it easy and quick to share that information within your team, group or community.  We have built an intelligence-capturing technology that enables to input your research in an intuitive, fast and secure way, and a proprietary delivery algorithm that combines that content and our professionally curated intelligence to create a go-to resource for all your research needs. </h2>
      <h2>Minerva, simplifying information for everybody. </h2>
      <h2>If you have a specific briefing requirement or a need to collate hard to find resources please contact us. We invite you to join us on this journey and help us to shape and evolve the service.  </h2>

    </div>

      <ul>
        <div class="col1" >
        <li class="imgcont" ><%= image_tag 'speed4.svg', class: "hiwimres", id: "hiwimres1" %></li>
        <li><h3>The Technology</h3></li>
        <li><h4>The idea behind the information capture technology has been developed over the years we have spent as researchers ourselves. Likewise, the algorithm is the result of many years spent trying to improve the delivery and consumption of information. </h4></li>
        </div>
        <div class="col2" >
        <li class="imgcont" ><%= image_tag 'connected4.svg', class: "hiwimres", id: "hiwimres2" %></li>
        <li><h3>Your Community</h3></li>
        <li><h4>This bespoke technology allows you to build research communities.  This can be within organisations, with your friends or any other research community that you care to build.  Your information is only shared with those you wish to share it.  We have no access to the information you enter into our system.</h4></li>
        </div>
        <div class="col3" id="col3stat" >
        <li class="imgcont" ><%= image_tag 'centralized.svg', class: "hiwimres", id: "hiwimres3" %></li>
        <li><h3>The Information</h3></li>
        <li><h4>Information is truly separated from layout at Minerva.  Each information 'point' is seen as a node in a neural network of information points.  This allows the system to deliver information effectively and efficiently.  It also allows the system to identify links between information that may otherwise have been overlooked.</h4></li>
        </div>
      </ul> 
  </div>
      <div style="clear: both; height: 4em;"></div>

</section>
  