<div class="contentmod" >
<h2>Information on current and upcoming content</h2>

<h3>Current content</h3>
<h5><span>Module 1 - Links to all stock exchanges.</span><i> A simple tool that is a consequence of the listing module.</i></h5>
<h5><span>Module 2 - Links to listing requirements for all stock exchanges.</span>  <i>Essential knowledge for corporate governance and IPO work.</i></h5>
<h5><span>Module 3 - Links to takeover and merger regulations for countries with public equity markets.</span><i>  Essential knowledge for corporate governance and assessing the impact of a deal.  A module that grew from discussions with an ex-investment bank prop trader.</i></h5>
<p></p>
<h3>Future Content</h3>
<h5><span>Module 4 - Links to English language business newspapers and new media sites around the world.</span><i> Rapid access to the news required for the global investor.</i></h5>
<h5><span>Module 5 - S&P 500 Investor Relations key links.</span><i>  The start of a much larger range to cut the time to access the key parts of investor relations websites on a global basis.</i></h5>
<h5><span>Module 6 - Copper factual briefing notes.</span><i>  The start of a larger series providing factual briefings on all parts of the commodities markets.  The delivery of this information will be innovative, not relying upon the format of the 100 page report.  Giving you access to the specific information you require.</i></h5>
<h5><span>Module 7 - Russian macroeconomic factual briefings.</span><i>  The start of a larger series providing factual briefings on all parts of the macroeconomic framework and access to the key data series for all countries.</i></h5>
<h6>We have plans for over 80 modules over the next year.  Please contact us for more details or to talk to us about bespoke projects.</h6>
</div>