<div class="contentmod" >
<h3>Information on current and upcoming content</h3>

<h4>Current content</h4>
<h5>Module 1 - Links to all stock exchanges</h5>
<h5>Module 2 - Links to listing requirements for all stock exchanges</h5>
<h5>Module 3 - Links to takeover and merger regulations for countries with public equity markets</h5>
<h4>Future Content</h4>
<h5>Module 4 - Links to English language business newspapers and new media sites around the world</h5>
<h5>Module 5 - S&P 500 Investor Relations key links</h5>
<h5>Module 6 - Copper factual briefing notes</h5>
<h5>Module 7 - Russian macroeconomic factual briefings</h5>
<h6>We have plans for over 80 modules over the next year.  Please contact us for more details or to to talk to us about bespoke projects.</h6>
</div>