<div class="contact" >
<h3>Minerva SI Ltd</h3>
<h5>Company number 09212773</h5>
<h5>Registered Office (not for business mail)</h5>
<h5>International House</br>24 Holborn Viaduct</br>London</br>EC1A 2BN</h5>
<h5>Contact us via email at info@minervasi.com</h5>
</div>