<div class="contentmod" >
<h3>Information on current content and upcoming content</h3>

<h4>Current content</h4>
<h5>Module 1 - Links to global stock exchanges</h5>
<h5>Module 2 - Links to Listing requirements for global stock exchanges</h5>
<h5>Module 3 - Links to takeover and merger regulations for countries with public equities</h5>
<h4>Future Content</h4>
<h5>Module 4 -  xxxxxxx due xxxxxx</h5>
<h5>Module 5 -  xxxxxxx due xxxxxx</h5>
<h6>We have plans for over 80 modules over the next year.  Please contact us for more details or to contract us for bespoke infomation.</h6>
</div>