

<section class="container2">
	<div class="explanation1" id="hiw">
			<h1>How it works</h1>
			<div class="quarter">
			<ul  >
	   		<li><%= image_tag 'eye107.svg' %></li>
				<li><h3>We Research</h3></li>

	   		<li><h4>We collate intelligence in specific areas of interest for professional investors.  We undertake the difficult and time consuming ground work of identifying source documents and putting together briefing documents. We continually monitor for changes to ensure the quality of the information.</h4></li>
	   	</ul>	
	   	<ul >
	   		<li><%= image_tag 'magnifying glass.svg', class: "hiwimres" %></li>
				<li><h3>You Search</h3></li>

	   		<li><h4>You search within the available modules for the information required.  Search results are instant and referenced to source documentation where relevant.  The service aims to respond to the needs of our users, therefore we actively seek suggestions for new modules from our users.</h4></li>
	   	</ul>	
	   	</div>
	   	<div class="quarter2">
	   	<ul >

	   		
	   		<li><%= image_tag 'key174.svg', class: "hiwimres" %></li>
				<li><h3>You Register for an Account</h3></li>

	   		<li><h4 id="lesstext" >As a professional investor you register for free with Minerva and after your details are verified  we create your secure account.  The service is only currently available to professional investors across all asset classes.</h4></li>
	   	</ul>
	   	<ul >	
	   		<li><%= image_tag 'clock101.svg', class: "hiwimres" %></li>
				<li><h3>You Save Time</h3></li>

	   		<li><h4>You get the information you were looking for instantly, and this saves you significant time for decision making.  As the service grows the use to you and your organisation will grow exponentially.</h4></li>
	   	</ul>	
	   	</div>
	   	<div style="clear: both; height: 4em;"></div>
	</div>

</section>