

<section class="container2">
	<div class="explanation1" id="hiw">
			<h1>How it works</h1>
			<div class="quarter">
			
			<ul  >
	   		<li><%= image_tag 'eye107.svg' %></li>
				<li><h3>1. We Research</h3></li>

	   		<li><h4>Using our own technology we curate investment intelligence in areas of interest for investors. Our team of researchers and editors undertakes the difficult and time consuming ground work of researching information and finding the right sources of intelligence. We also continually monitor these sources to ensure the best possible quality of information at all times.</h4></li></br>
	   	</ul>	
	   	<ul >
	   		<li><%= image_tag 'key174.svg', class: "hiwimres" %></li>
				<li><h3>2. You Register for an Account</h3></li>
	   		

	   		<li><h4>You register for an account with Minerva and after your details are verified we create your secure profile. Once your account is ready, you will have access to the same smart tagging technology our research team uses and our bespoke research delivery algorithm. If your account includes access to our resarch you will have instant access to our professionally curated research content.</h4></li>
	   	</ul>	
	   	</div>
	   	<div class="quarter2">
	   	<ul >
	   		<li><%= image_tag 'magnifying glass.svg', class: "hiwimres" %></li>
				<li><h3>3. You Research</h3></li>
	   		
	   		

	   		<li><h4 id="lesstext" >Using our bespoke information capturing technology you can input your own content, be it information, data points, notes or comments. This content will be secure and available only to you (and your team or community, if you elect so) and you will have complete control to edit it or delete it. Through an intuitive interface you search for the intelligence required.  </h4></li>
	   	</ul>
	   	<ul >	
	   		<li><%= image_tag 'clock101.svg', class: "hiwimres" %></li>
				<li><h3>4. You Profit</h3></li>

	   		<li><h4>Our proprietary algorithm prepares a query-specific document in response to your search, combining our professionally curated intelligence with any appropriate content you have entered, and delivers it instantly to you. You get the information you were looking for without extraneous noise, and this saves you significant time for decision making. </h4></li>
	   	</ul>	
	   	</div>
	   	<div style="clear: both; height: 4em;"></div>
	</div>

</section>