
<section class="container1">
	<div class="logoland">
		<img src="/assets/logoland.svg" />
	</div>

	<% if user_signed_in? %>
		<div class="login">
			<h2><%= link_to "Search", new_user_find_path(current_user.id), class: "mainlink" %> </h2>
		</div>
	<% else %>
		<div class="loginform" id="loginform" %>
			<%= render 'users/sessions/new' %>

		</div>

		<div class="register">
			<h2><a href="#registerform" class="mainlink" >Register</a></h2>
		</div>

		<div class="registerbox">
		</div>

	<% end %>

	<div class="about">
		<h2>Minerva: simplifying information for professional investors.</h2>
	</div>

	<div class="aboutbox">
	</div>

	<div class="animate-in ultra-slo-mo" data-anim-type="bounce-in-down" data-anim-delay="200" id="scroll">
		<h2>V</h2>
	</div>



</section>

<section class="container2">
	<div class="explanation1">
	   Description of what the company does
	</div>
</section>

<section class="container3">
	<div class="strap1" >
		Strap LIne
	</div>	
</section>

<section class="container4">
	<div class="strap1" >
		More Description
	</div>
</section>

<section class="container5">
	<div class="entrybox" >
	</div>
		<div class="moreinfo" id="moreinfoform" >
			<%= render 'moreinfos/new' %>
		</div>

		
		<div class="registerform" id="registerform" >
			<%= render 'users/registrations/new' %>

		</div>
	


</section>







