<div class="logo" id="logostatexland" >
		<%= image_tag 'logosvg.svg' %>
	
</div>	

<div class="message" >
<h4>Legal Information</h4>
<%= link_to "Return to home page", root_path %>
</div>

<div>Icons made by <a href="http://royand.co" title="Roy and Co">Roy and Co</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>         is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>