<section class="container2">
<div class="pricing">
<h1>Minerva Pricing Plans</h1>
<h2>Individual plans<span>Institutional plans</span></h2>
<hr id="individual">
<hr id="institutional">
	<table>
		<thead>
			<tr>
				<th>FREE</th>
				<th>BRONZE</th>
				<th>SILVER</th>
				<th>GOLD</th>
				<th>ACADEMIC</th>
				<th>CORPORATE</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>£FREE</td>
				<td>£5/month</td>
				<td>£49/month</td>
				<td>£250/month</td>
				<td>Contact us</td>
				<td>Contact us</td>
			</tr>	
			<tr>
				<td>Access to the smart note taking tool</td>
				<td>Access to the smart note taking tool</td>
				<td>Access to the smart note taking tool</td>
				<td>Access to the smart note taking tool</td>
				<td>Access to the smart note taking tool</td>
				<td>Access to the smart note taking tool</td>
			</tr>
			<tr>
				<td>Limit of 500 items entered per month</td>
				<td>Unlimited item entry</td>
				<td>Unlimited item entry</td>
				<td>Unlimited item entry</td>
				<td>Unlimited item entry</td>
				<td>Unlimited item entry</td>
			</tr>
			<tr>
				<td>Community limited to two friends or colleagues</td>
				<td>Unlimited community members</td>	
				<td>Unlimited community members</td>	
				<td>Unlimited community members</td>	
				<td>Unlimited community members</td>	
				<td>Unlimited community members</td>	
			</tr>	
			<tr>
				<td></td>
				<td>Image upload</td>	
				<td>Image upload</td>	
				<td>Image upload</td>	
				<td>Image upload</td>	
				<td>Image upload</td>	
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Access to a tailored selection of our content<sup>*</sup></td>
				<td>Access to all of our content<sup>*</sup></td>
				<td>Access to a tailored selection of our content<sup>*</sup></td>
				<td>Access to a all of our content<sup>*</sup></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>Secure hosting of your content on your servers</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			
		</tbody>
	</table>
	<h6><sup>*</sup>See link below for content details</h6>
	</div>
	<div class="howtopay">
	<h2>We will be adding online payment options shortly.  Please email us at info@minervasi for payment options.  Please register on the home page for a free account.</h2>
	</div>
		
</section>	




