<div class="tech">
<h1>Minerva technology</h1>
<div class="techleft">
<h3>Your content</h3>
<h6>Take notes as you would normally, in fact generate your content in whichever way suits you.</h6>
<h3>Our information capturing system</h3>
<h6>Enter your content using our technology.  This is a similar concept to memory.  Where the information is not stored as in a library but scattered around the system and reconstituted when required.  This allows the human brain to make tremendous leaps forward.  Something a library would never do.</h6>
<h3>Living Documents</h3>
<h6>Our proprietary algorithm mimics the brain in recalling data and presenting it in the form you require at that time.  Unlike your memory it never forgets!</h6>
</div>

<div class="techright">
<h3>Secure Access</h3>
<h6>Your information is yours.  At Minerva we will never see your information.  The account creation process allows you to access a secure part of the site.</h6>
<h3>Create Communities</h3>
<h6>Share your notes with your colleagues, study friends or any network.  Leverage the network effect, and reach better conclusions.  This is socially sharing our brains for research!</h6>
</div>
<div class="techimage">
<%= image_tag 'tech.jpg' %>
</div>
<div class="clearer">
</div>
</div>