<div class="logo" id="logostatexland" >
		<%= image_tag 'logosvg.svg' %>
	
</div>	

<div class="message" >
<h4>Thanks for signing up for updates</h4>
<%= link_to "Return to home page", root_path %>
</div>