
<% if resource.encrypted_password.empty? %>

	<p>Hello <%= @resource.fname %>!</p>

	
We are pleased to let you know that your account has been created! Set up your password through the link below and you are ready to go.  Please remember, as you have signed up for a free account there is limited access to our content.  Click on the question mark in the top left of every page on the site for help.  Hovering on other question markswill give advice on the page.


	<p><%= link_to 'Set my password', edit_password_url(@resource, reset_password_token: @token) %></p>

	Kind Regards
	<p>The Minerva Team</p>
	www.minervasi.com
	<p>info@minervasi.com</p>

<% else %>

	<p>Hello <%= @resource.fname %>!</p>

	<p>Someone has requested a link to change your password. You can do this through the link below.</p>

	<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

	<p>If you didn't request this, please ignore this email.</p>
	<p>Your password won't change until you access the link above and create a new one.</p>

		Kind Regards
	<p>The Minerva Team</p>
	www.minervasi.com
	<p>info@minervasi.com</p>

<% end %>
