// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.functions,
.modadmin {
	margin-left: 4em;
	margin-top: 4em;
}

.functions table td,
.modadmin table td {
	padding: 0.3em;
}

.edituser {
	text-align: center;
}