<% @moreinfo = Moreinfo.new %>
<Div class="moreinfos" >

<%= simple_form_for @moreinfo do |f| %>
	

	<%= f.input :email, label: false, placeholder: "Email address", id: "firstinput" %>
	

	<%= f.button :submit, 'Receive updates' %>

<% end %>
</Div>
