// Place all the styles related to the finds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*COLOUR SCHEME----*/

.searchpage {
	background-color: #FFFFFF;
}


/* ===================== MEDIA QUERIES ===================== */

/* 320+ 
------------------------------------------ */
@media only screen and (min-width: 20em) {
  /* Masthead specific styling for small screen*/
  #logofinds {

   width: 100%;
   margin-left:0;
   margin-bottom: 2.5em;
  }

  #logofinds img {
    width: 95%;
    margin-left: 2.5%;
    height: 3.5em;
  }

  .newsearch {
    margin-left: auto;
    margin-right: auto;
    width: 90%;

  }

  .searchform .select,
  .newsearch .token-input-list-facebook {
    width: 80%;
    margin-left: 10%;
  }
  .newsearch .token-input-input-token-facebook {
    width: 100%;
  }

  #token-input-find_tag_list_tokens {
    width: 95%;
    margin-left: 2.5%;
  }

  .searchform input[type="text"],
  .serachform input[type="submit"] {
    width: 80%;
    margin-left: 10%;
    margin-top: 1em;
  }

  .searchbutton {
        text-align: center;
  }

  .searchag h4 {
    margin-left: 10%;
  }
  
}
/* 480+ 
------------------------------------------ */
@media only screen and (min-width: 30em) {
  /* Masthead */
}



/* 480-767-only 
------------------------------------------ */
@media only screen and (min-width: 30em) and (max-width: 47.9375em) {
  /* Sidebar */  
  
}
/* 600-767-only 
------------------------------------------ */
@media only screen and (min-width: 37.5em) and (max-width: 47.9375em) {
  /* Sidebar */
  

  

}

/* 768+ 
------------------------------------------- */
@media only screen and (min-width: 48em) {

    /* Main Content where you can start adding columns*/

    main {
    float: left;
    width: 62.5%;
  } /*Only an example it can alter in terms of percentage*/

    /* Sidebar */
  .sidebar {
    float: right;
    margin-top: 1.875em;
    width: 31.25%;
  }  /* Again can alter percentages*/

.searchform input[type="text"] {
  width: 74%;
  margin-left: 13%;

}

.searchform div {
  display: block;

}

.searchform .select {
  display: inline-block;
  width: 30%;
  margin-left: 13%;
}

#find_linkcat_id,
#find_docstructure_id {
  width:90%;
  margin-left: 5%;
}

.searchbutton input[type="submit"] {
  width: 10em;
}

/*-tagselect css--------*/

/* Example tokeninput style #2: Facebook style */

.mover {
  margin-top: 2%;
}
ul.token-input-list-facebook {
    overflow: hidden; 
    height: auto !important; 
    height: 1em;
    width: 80%;
    border: 1px solid #0085CD;
    cursor: text;
    font-size: 1em;
   
    min-height: 1px;
    z-index: 999;
    margin: 0;
    
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    clear: left;

}

ul.token-input-list-facebook li input {
    border: 0;
    width: 100px;
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
    -webkit-appearance: caret;
}

li.token-input-token-facebook {
    overflow: hidden; 
    height: auto !important; 
    height: 1em;
    margin: 3px;
    padding: 1px 3px;
    background-color: #0085CD;
    color: #000;
    cursor: default;
    border: 1px solid #ccd5e4;
    font-size: 1em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    white-space: nowrap;
}

li.token-input-token-facebook p {
    display: inline;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
}

li.token-input-token-facebook span {
    color: #0085CD;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token-facebook {
    background-color: #5670a6;
    border: 1px solid #3b5998;
    color: #fff;
}

li.token-input-input-token-facebook {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

div.token-input-dropdown-facebook {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 11px;
    font-family: Verdana, sans-serif;
    z-index: 1;
}

div.token-input-dropdown-facebook p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown-facebook ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-facebook ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
    background-color: #0085CD;
    color: #fff;
}

}
  /* --- end media queries ---- */


/* html5boilerplate.com Clearfix
--------------------------------- */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
