// Place all the styles related to the finds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*COLOUR SCHEME----*/

.searchpage {
	background-color: #FFFFFF;
}


/* ===================== MEDIA QUERIES ===================== */

/* 320+ 
------------------------------------------ */
@media only screen and (min-width: 20em) {
  /* Masthead specific styling for small screen*/
  #logofinds {

   width: 100%;
   margin-left:0;
   margin-bottom: 2.5em;
  }

  #logofinds img {
    width: 95%;
    margin-left: 2.5%;
    height: 3.5em;
  }

  .newsearch {
    margin-left: auto;
    margin-right: auto;
    width: 90%;

  }

  .searchform .select {
    width: 80%;
    margin-left: 10%;
  }

  .searchform input[type="text"],
  .serachform input[type="submit"] {
    width: 80%;
    margin-left: 10%;
    margin-top: 1em;
  }

  .searchbutton {
        text-align: center;
  }

  
}
/* 480+ 
------------------------------------------ */
@media only screen and (min-width: 30em) {
  /* Masthead */
}



/* 480-767-only 
------------------------------------------ */
@media only screen and (min-width: 30em) and (max-width: 47.9375em) {
  /* Sidebar */  
  
}
/* 600-767-only 
------------------------------------------ */
@media only screen and (min-width: 37.5em) and (max-width: 47.9375em) {
  /* Sidebar */
  

  

}

/* 768+ 
------------------------------------------- */
@media only screen and (min-width: 48em) {

    /* Main Content where you can start adding columns*/

    main {
    float: left;
    width: 62.5%;
  } /*Only an example it can alter in terms of percentage*/

    /* Sidebar */
  .sidebar {
    float: right;
    margin-top: 1.875em;
    width: 31.25%;
  }  /* Again can alter percentages*/

.searchform input[type="text"] {
  width: 30em;
}

.searchform .select {
  width: 20em;
}

.searchbutton input[type="submit"] {
  width: 10em;
}

.searchform div{
  display: inline-block;
}


}
  /* --- end media queries ---- */


/* html5boilerplate.com Clearfix
--------------------------------- */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
