// Place all the styles related to the staticpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= depend_on_asset "logo.svg"
/*COLOUR SCHEME-------
-----------*/
.container2,
.container4 {
  background-color: #FFFFFF;

}

.container3,
.container5 {
  background-color: #0085CD;

}





/* ===================== MEDIA QUERIES ===================== */

/* 320+ 
------------------------------------------ */
@media only screen and (min-width: 20em) {
  /* Masthead specific styling for small screen*/

  /*LANDING PAGE SMALL CSS----*/

  .container1 { /*First page*/
	
	
  background-image:  url(image-path('simple2small.jpg')); 
  background-position: center center;

  -webkit-background-size: cover ;
  -moz-background-size: cover ;
  -o-background-size: cover ;
  background-size: cover ; 
	
	
  
  	height: 100%;
  	max-width: 100%;
  	

}

.fixedhead { /*THE FIXED HEADER - Different shape for phones over larger screens*/
  position:fixed;
  top: 0;
  left: 0;
  height: 12%;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 2;

}

.fixedhead li:first-child {
	display: block;

}

.fixedhead li {
	display: inline-block;
}

.fixedhead a {
  color: #0085CD;
  font-size: 1.3em;
  margin-right: 1em;


  
}

.fixedhead img {
  height: 3em;
  padding-top: 0.2em;
  padding-left: 0.3em;
  width: 70%;
  margin-left: 10%;
}

.login h2 {
  text-align: center;
  padding-top: 4em;

}

.login h2 a {
  color: #FFFFFF;

}

#logotopleft {
  background-image: url(image-path('logoland.svg'));
  
  height: 3.5em;
  overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    
  margin-left: 17%;
  background-size: 100%;
  width: 14em;
  display: block;
}
#hidlink {
  display: none;
}

#hidlinkf,
#hidlinkg,
#hidlinkh  {
  font-family: 'Oxygen';
  font-size: 1em;
}

#regout a{
  border: 1px solid #0085CD;
  height: 1.7em;
  padding: 0.2em;

}

.sinav {
	margin-top: 0.5em;
  height: 2.5em;
}

.sinav li{
  display: inline-block;
  height: 2.5em;  

}

 .sinav li a {
  font-family: 'socicon'; 
  margin-right: 0.3em;


 }



#sicontainer {
    position: fixed;
  top: 0em;
  right: 0em;

  height: 3em;
}

.flash {
  position: fixed;
  top: 10%;
  color: #FFFFFF;
  background-color: #0085CD;
  margin: 0.3em;
  padding: 0.3em;
}
  
  .simplelogo {
    width: 100%;
    height: 25%;
    display: none;
  }

.simplelogo img {

  width: 50%;
  margin-left: 25%;
  margin-top: -2em;
  
}

.normalfont {
  font-family: 'Oxygen';
  color: #000000;
  text-align: center;
  margin-top: -2.5em;
  font-weight: 400;

}


.loginform {
	padding-top: 3em;
}

.strapline,
.strap1 {
  text-align: center;
  color: #FFFFFF;
}

.strapline h1,
.strap1 h1 {
  font-size: 1em;
}


.container2 {
	
	
}

.explanation1 h1,
.explanation2 h1,
.entrybox h1,
.entrybox2 h1,
.explanation1 h3,
.explanation2 h3 {
  text-align: center;
  margin-bottom: 0;
}



.explanation1 img,
.explanation2 img {
  width: 12.5%;
  margin-left: 43.75%;

}

.explanation1 h4,
.explanation2 h4{
  width: 90%;
  text-align: justify;
  font-size: 0.8em;
  margin-left: 5%;
  margin-bottom: 0;
  margin-top: 0;

}



.container3 {
	
  height: 20em;
	
  
  	
  	
}

.strap1 {
  position: relative;
  top: 50%;
}

.container4 {
	


}

#About {
  margin-top: 5%;
}

.container5 {
	
	
  


}

.entrybox h1,
.entrybox2 h1 {
  color: #FFFFFF;

}



.signupfor,
.moreinfos,
.loginb {
	text-align: center;
}
.signupfor h6 {
  margin: 0;
  margin-top: 0.2em;
  color: #FFFFFF;
}
.moreinfos:first-child {
	border-width: 0 0 0 0;
}

.moreinfos input[type="email"] {
  margin-top: 0;
}

.updateinfo {
  margin-top: 5%;
}

.updateinfo input[type="password"] {
  border: solid 1px;
}

.footerl li {
  display: inline-block;
}
 .footerl a,
 .footerl small {
  color: #0085CD;

 }
/*STYLING MESSAGE PAGES---
---------*/

#logostatexland {
  width: 75%;
  margin-left: 12.5%;
}

#logostatexland img {
  height: 3em;
  width: 90%;
  margin-left:5%;
  margin-top: 5%;
}

.message {
  text-align: center;
}

.legal {
  margin-top: 20%;
  margin-bottom: 20%;

}

.legal h4 {
  text-align: center;
}

.legal h5 {
  width: 80%;
  background-color: #DBDBDB;
  text-align: justify;
  margin-left: 10%;
  padding: 0.5em;

}

.icons {
  text-align: center;
  font-size: 0.2em;
  margin-bottom: 5%;
}

.contact {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 20%;
}

.contentmod {
  text-align: center;
  margin-top: 20%;
  margin-bottom: 10%;
  width: 90%;
  margin-left: 5%;
}

.contentmod span {
  font-size: 1.2em;
  color: #0085CD;
}

.contentmod h3{
  color: #0085CD;
}

.general {
  width: 80%;
  text-align: justify;
  margin-left: 10%;
}

.general h2 {
  font-size: 1em;
  font-weight: 400;
}

}
/* 480+ 
------------------------------------------ */
@media only screen and (min-width: 30em) {
  /* Masthead */



}



/* 480-767-only 
------------------------------------------ */
@media only screen and (min-width: 30em) and (max-width: 47.9375em) {
  /* Sidebar */  


  
}
/* 600-767-only 
------------------------------------------ */
@media only screen and (min-width: 37.5em) and (max-width: 47.9375em) {
  /* Sidebar */
  


}

/* 768+ 
------------------------------------------- */
@media only screen and (min-width: 48em) {

    /* Main Content where you can start adding columns*/

    main {
    float: left;
    width: 62.5%;
  } /*Only an example it can alter in terms of percentage*/

    /* Sidebar */
  .sidebar {
    float: right;
    margin-top: 1.875em;
    width: 31.25%;
  }  /* Again can alter percentages*/

  .about h2 {
	font-size: 2em;
}

.message {
  margin-top: 20%;
}

#message1 {
  margin-top: 5%;
}

.container1 {
  background-image:  url(image-path('simple2.jpg')); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 70% 50%;  

}
.strapline h1 {
  margin-top: 3em;
}
.fixedhead {
  position:fixed;
  height: 4em;
  width: 100%;
  background-color: #FFFFFF;

}

.fixedhead li:first-child {
	display: inline-block;
}

.fixedhead li {
  display: inline-block;
}

.fixedhead a {
  color: #0085CD;
  font-size: 1.3em;
  margin-right: 3em;
  position: relative;
  bottom: 0.7em;
}

.fixedhead img {
  height: 4em;
  padding-top: 0.5em;
  padding-left: 1em;
  margin-right: 10em;
  width: auto;
  margin-left: auto;

}

#logotopleft {
  margin-left: 2em;
    margin-top: 1em;
    width: 11em;
    height: 2.75em;
}
#hidlink {
  display: block;
}

.sinav li a {
  position: relative;
  top: 0.5em;
  margin-right: 1em;
}  

 .simplelogo {
  display: block;
 }


.strapline h1,
.strap1 h1 {
  font-size: 2em;
  text-align: center;
}

.container2 {
  
  
  
  

}



.quarter {
  float: left;
  width: 49%;
  
}



.quarter2 {

  width: 49%;
  float: right;

}
.explanation1 {
  height: 100%;
  overflow: auto;
}



.explanation1 h1 {
  position: relative;
  top: 2em;
  z-index: 1;
}

.explanation1 h4 {
  width: 80%;
  margin-left: 10%;

}

.explanation1 h1,
.explanation1 h3 {
  color: #0085CD
}

.explanation1 h4,
.explanation1 img {
  margin-top: 1em;
}

.explanation1 h4 {
  font-size: 0.9em;
  font-weight: 400;
}

.explanation1 img {
  width: 18%;
  margin-left: 41%;
}

.explanation1 h3 {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 0;
}

#lesstext {
  margin-bottom: 1em;
}



.container3 {


background-image:  url(image-path('simple3.jpg')); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
    height: 100%;
    max-width: 100%;
}

.container4 {

}

.imgcont {
  height: 20%;
}

.col2 img{
  width:40%;
  margin-top: -10%;


}

.col3 img {
  
  margin-top: -5%;
  width:30%;
  margin-left: 35%;
  margin-bottom: 5%;
  
}

.col1 img {
  
  width:20%;
  
  margin-left: 40%;
  margin-bottom: 10%;
}



.col1 {
  float: left;
  width: 33%;
  margin-top: 2.5em;
}

.col2 {
  display: inline-block;
  width: 33%;
  margin-top: 2.5em;
}

.col2 h4{
  width: 90%;

}

.col2 img {
  margin-left: 30%;

}

.col3 {
  float: right;
  width: 33%;
  margin-top: 2.5em;
 
}

.col3 h4 {
  width: 85%;
}



.col1 h3,
.col3 h3 {
  text-align: center;
  margin-bottom: 5%;
}

.col2 h3 {
  
  text-align: center;
  margin-bottom: 5%;
}

.explanation2 {
  overflow: auto;
  height: 100%;
}

.explanation2 h4 {
  font-weight: 400;
  font-size: 1.2em
}

.explanation2 h1,
.explanation2 h3 {
  color: #0085CD;
}


.container5 {
background-image:  url(image-path('simple4.jpg')); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
    height: 100%;
    max-width: 100%;

}    

.entrybox {
  padding-top: 5em;
}

.footerl {
  margin-top: -2em;
  margin-left: 10%;
  width: 80%;
  background-color: #FFFFFF;
  padding: 0.3em;
}

.footerl li {
  margin-right: 2em;
}

.legal {
  margin-top: 5%;
}

.contentmod {
  margin-top: 10%;
  width: 80%;
  margin-left: 10%;
}

.contentmod h5 {
  text-align: left;
}

}
  /* --- end media queries ---- */







