html,
body {
  
  padding: 0;
  height: 100%;
  margin: 0;

  
}



/* Putting in the web fonts
---------------------------
-----------NOTE PRODUCTION NEED font-path() after url( also all images need to be referenced by image_yag and remove /assets/*/  

@font-face {
    font-family: 'socicon';
    src: url(font_path('socicon-webfont.eot'));
    src: url(font_path('socicon-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font_path('socicon-webfont.woff')) format('woff'),
         url(font_path('fonts/socicon-webfont.ttf')) format('truetype'),
         url(font_path('fonts/socicon-webfont.svg#sociconregular')) format('svg');
    font-weight: normal;
    font-style: normal;
}

/*BASIC ELEMENT STYLING
-------------------
----------*/

body {                                                                             /*Sets the basic font sizing which all others refer to*/
  font: 100%/1.2 'Oxygen', "Times New Roman", serif;
  
}

* {                                                                               /*Sets all boxes to border-box width and height include content, padding and border NOT margin*/
  -webkit-box-sizing: border-box; /* Android <= 2.3, iOS <= 4 */
  -moz-box-sizing: border-box; /* Firefox 1+ */
  box-sizing: border-box; /* Chrome, IE 8+, Opera, Safari 5.1 */
}

.page {
  /* these declarations combine to center entire page in browser */
  margin: 0 auto;
  max-width: 960px;
}

img {                                                                           /* Get rid of image borders*/
  border: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

/*Setting all pictures max width
--------------------------------
-------*/

.examplephoto {
	max-width: 100%;
}

/*COLOUR SCHEME----------
--------------*/

.nonland {
  background-color: #FFFFFF;
}



.loginb a {
  color: #FFFFFF;
}





/*STYLING INPUT FORMS-----
-------------------------*/

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 15em;
  background-color: #FFFFFF;
  color: #0085CD;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #0085CD;

  height: 2em;
  text-indent: 4px;
}
#message1 input[type="password"] {
  border-width: 1px;
}
.searchform input[type="text"] {
  border-width: 1px 1px 1px 1px;
}


input[type="submit"] {
  background-color: #0085CD;
  color: #FFFFFF;
  margin-top: 1em;
  width: 15em;
  
  height: 2em;
}

.select {
  -webkit-appearance: none;
  background-color: #0085CD;
  color: #FFFFFF;
  height: 2em;
  text-indent: 4px;
  border:0px;
        outline:0px;
}

#moreinfo_email {
  border-width: 0 0 0 0;
  margin-top: 1em;


}

.loginb #user_email {
  border-width: 0 0 0 0;
  margin-top: 4em;
}

.signupfor #user_email {
  border-width: 0 0 0 0;
  margin-top: 2em;
}

#remlab {
  color: #FFFFFF;
}



/*STYLING SOCIAL ICONS
----------------------
-------*/








/* ===================== MEDIA QUERIES ===================== */

/* 320+ 
------------------------------------------ */
@media only screen and (min-width: 20em) {
  /* Masthead specific styling for small screen*/
  
.navholder {
  margin-top:-1em;
  margin-bottom: 0.5em;
}

  .basicnav h4 {
  font-size: 0.7em;
  font-weight: 600;

}



.basicnav li {
  margin-right: 0.5em;
}

.basicnav li {
  display: inline-block;
  text-decoration: none;
}

.basicnav {
  width: 70%;
  margin-left: 25%;
}

.basicnav a {
  text-decoration: none;
}



.footer {
    width:100%;
  height:80px;
  
    margin-left: 2em;
  
  }
  

  .footer a {
    text-decoration: none;
    
  }
 
  .footernav {
    width: 75%;
    margin-left: 12.5%;
  }
  
  .footernav li {
    display: inline-block;
  }

  #sicontainer1 {
    width: 75%;
    margin-left: 12.5%;
  }

   #sinav1 li h3 {
  
  font-family: 'socicon'; 
  }

  #sicontainer1 li {
      
    display: inline-block;
    
  }

  #sinav1 a {
    color: #0085CD;
    margin-left: 1em;
    margin-right: 1em;
  }

}
/* 480+ 
------------------------------------------ */
@media only screen and (min-width: 30em) {
  /* Masthead */


}



/* 480-767-only 
------------------------------------------ */
@media only screen and (min-width: 30em) and (max-width: 47.9375em) {
  /* Sidebar */  

  
}
/* 600-767-only 
------------------------------------------ */
@media only screen and (min-width: 37.5em) and (max-width: 47.9375em) {
  /* Sidebar */
  



}

/* 768+ 
------------------------------------------- */
@media only screen and (min-width: 48em) {

    /* Main Content where you can start adding columns*/

    main {
    float: left;
    width: 62.5%;
  } /*Only an example it can alter in terms of percentage*/

    /* Sidebar */
  .sidebar {
    float: right;
    margin-top: 1.875em;
    width: 31.25%;
  }  /* Again can alter percentages*/

  


.footer {
 
  
}

#sicontainer1 {
  float: right;
  width: 18em;
}

.footer div {
  display: inline-block;
}


#sicontainer1 {
  width: 20%;
  height: 2em;
  margin-top: -4.5em;
}

.footernav {
  width: 70%;
  height: 2em;
  margin-left: 10%;
  position: relative;
  bottom: 0em;
 
}

.footernav li {
  margin-right: 1em;
}

.footernav a,
.footernav small {
  color: #0085CD;

}

.foot {
  position:fixed;
   left:0px;
   bottom:0px;
   height:2em;
   width:90%;
}

.footerr small {
  width: 90%;
  margin-left:5%;
}


.container {
  position: relative;
  bottom: 8em;
  left: 4em;
}

.navholder {
  text-align: right;
}

#searchreturn h4 {
  width: 90%;
  margin-left: 5%;
}

}
  /* --- end media queries ---- */


/* html5boilerplate.com Clearfix
--------------------------------- */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
