html,
body {
  
  padding: 0;
  height: 100%;
  margin: 0;

  
}



/* Putting in the web fonts
---------------------------
-----------NOTE PRODUCTION NEED font-path() after url( also all images need to be referenced by image_yag and remove /assets/*/  

@font-face {
    font-family: 'socicon';
    src: url(font_path('socicon-webfont.eot'));
    src: url(font_path('socicon-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font_path('socicon-webfont.woff')) format('woff'),
         url(font_path('fonts/socicon-webfont.ttf')) format('truetype'),
         url(font_path('fonts/socicon-webfont.svg#sociconregular')) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {  
  font-family: 'FontAwesome';  
  src: url(font_path('fontawesome-webfont.eot'));  
  src: url(font_path('fontawesome-webfont.eot?#iefix')) format('eot'),   
       url(font_path('fontawesome-webfont.woff')) format('woff'),   
       url(font_path('fontawesome-webfont.ttf')) format('truetype'),   
       url(font_path('fontawesome-webfont.svg#FontAwesome')) format('svg');  
  font-weight: normal;  
  font-style: normal;  
}  

/*BASIC ELEMENT STYLING
-------------------
----------*/

body {                                                                             /*Sets the basic font sizing which all others refer to*/
  font: 100%/1.2 'Oxygen', "Times New Roman", serif;
  
}

* {                                                                               /*Sets all boxes to border-box width and height include content, padding and border NOT margin*/
  -webkit-box-sizing: border-box; /* Android <= 2.3, iOS <= 4 */
  -moz-box-sizing: border-box; /* Firefox 1+ */
  box-sizing: border-box; /* Chrome, IE 8+, Opera, Safari 5.1 */
}

.page {
  /* these declarations combine to center entire page in browser */
  margin: 0 auto;
  max-width: 960px;
}

img {                                                                           /* Get rid of image borders*/
  border: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

sup {
  color: #0085CD;

}

/*Setting all pictures max width
--------------------------------
-------*/

.examplephoto {
	max-width: 100%;
}

/*COLOUR SCHEME----------
--------------*/

.nonland {
  background-color: #FFFFFF;
}



.loginb a {
  color: #FFFFFF;
}





/*STYLING INPUT FORMS-----
-------------------------*/

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 15em;
  background-color: #FFFFFF;
  color: #0085CD;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #0085CD;

  height: 2em;
  text-indent: 4px;
}
#message1 input[type="password"] {
  border-width: 1px;
}
.searchform input[type="text"] {
  border-width: 1px 1px 1px 1px;
}

.searchform .chosen-single span{
  font-size: 1.2em;
  text-align: center;
}

.searchform .chosen-single {
  margin-left: 10%;
}


input[type="submit"] {
  background-color: #0085CD;
  color: #FFFFFF;
  margin-top: 1em;
  width: 15em;
  border-radius: 5px;
  height: 2em;
}

.select {
  -webkit-appearance: none;
  background-color: #0085CD;
  color: #FFFFFF;
  height: 1.2em;
  text-indent: 4px;
  border:0px;
        outline:0px;
        border-radius: 5px;
}



.chosen-container-single .chosen-single{
  background: 0;
  background-color: #0085CD;
  color: #FFFFFF;
  border: 0;
  box-shadow: 0 0 0;
  font-size: 1.2em;
  
}

.chosen-single span {
  font-size: 1.3em;
  

}

.navig .chosen-container-single,
.navig .chosen-single,
.navig .chosen-single span {
  height: 1.6em;
}

#declarative_linkcat_id_chosen .chosen-single,
#declarative_docstructure_id_chosen .chosen-single {
  width: 80%;
}





#moreinfo_email {
  border-width: 0 0 0 0;
  margin-top: 1em;


}

.loginb #user_email {
  border-width: 0 0 0 0;
  margin-top: 4em;
}

.signupfor #user_email {
  border-width: 0 0 0 0;
  margin-top: 2em;
}

#remlab {
  color: #FFFFFF;
}



/*STYLING DROP MENU
----------------------
-------*/


#cssmenu {
  position: relative;
  height: 3%;
  background: #0085CD;
  width: 30%;
  margin-left: 70%;
}
#cssmenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}
#cssmenu > ul {
  position: relative;
  display: block;
  background: #FFFFFF;
  width: 100%;
  z-index: 500;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu > ul > li {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}
#cssmenu > ul > #menu-button {
  display: none;
}
#cssmenu ul li a {
  display: block;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}
#cssmenu > ul > li > a {
  font-size: 0.7em;
  font-weight: bold;
  padding: 0.5em 0.5em;
  color: #000000;
  text-transform: uppercase;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 32px;
}
#cssmenu > ul > li:hover > a {
  color: #0085CD;
}
#cssmenu li.has-sub::after {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
#cssmenu > ul > li.has-sub::after {
  right: 10px;
  top: 0.5em;
  border: 5px solid transparent;
  border-top-color: #000000;
}
#cssmenu > ul > li:hover::after {
  border-top-color: #ffffff;
}
#indicatorContainer {
  position: absolute;
  height: 12px;
  width: 100%;
  bottom: 0px;
  overflow: hidden;
  z-index: -1;
}
#pIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  z-index: -2;
  -webkit-transition: left .25s ease;
  -moz-transition: left .25s ease;
  -ms-transition: left .25s ease;
  -o-transition: left .25s ease;
  transition: left .25s ease;
}
#cIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  top: -20px;
  right: 100%;
  z-index: -2;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  top: 70px;
  opacity: 0;
  -webkit-transition: opacity .3s ease, top .25s ease;
  -moz-transition: opacity .3s ease, top .25s ease;
  -ms-transition: opacity .3s ease, top .25s ease;
  -o-transition: opacity .3s ease, top .25s ease;
  transition: opacity .3s ease, top .25s ease;
  z-index: 1000;
}
#cssmenu ul ul ul {
  top: 37px;
  padding-left: 5px;
}
#cssmenu ul ul li {
  position: relative;
}
#cssmenu > ul > li:hover > ul {
  left: auto;
  top: 1.5em;
  opacity: 1;
}
#cssmenu.align-right > ul > li:hover > ul {
  left: auto;
  right: 0;
  opacity: 1;
}
#cssmenu ul ul li:hover > ul {
  left: 170px;
  top: 0;
  opacity: 1;
}
#cssmenu.align-right ul ul li:hover > ul {
  left: auto;
  right: 170px;
  top: 0;
  opacity: 1;
  padding-right: 5px;
}
#cssmenu ul ul li a {
  width: 7em;
  border-bottom: 1px solid #eeeeee;
  padding: 0.5px 0.5px;
  font-size: 1em;
  color: #9ea2a5;
  background: #ffffff;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}
#cssmenu.align-right ul ul li a {
  text-align: right;
}
#cssmenu ul ul li:hover > a {
  background: #f2f2f2;
  color: #8c9195;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last > a {
  border-bottom: 0;
}
#cssmenu > ul > li > ul::after {
  content: '';
  border: 6px solid transparent;
  width: 0;
  height: 0;
  border-bottom-color: #ffffff;
  position: absolute;
  top: -12px;
  left: 30px;
}
#cssmenu.align-right > ul > li > ul::after {
  left: auto;
  right: 30px;
}
#cssmenu ul ul li.has-sub::after {
  border: 4px solid transparent;
  border-left-color: #9ea2a5;
  right: 10px;
  top: 12px;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transition: -webkit-transform 0.2s ease, right 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub::after {
  border-left-color: transparent;
  border-right-color: #9ea2a5;
  right: auto;
  left: 10px;
}
#cssmenu ul ul li.has-sub:hover::after {
  border-left-color: #ffffff;
  right: -5px;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#cssmenu.align-right ul ul li.has-sub:hover::after {
  border-right-color: #ffffff;
  border-left-color: transparent;
  left: -5px;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: auto;
  }
  #cssmenu.align-center ul {
    text-align: left;
  }
  #cssmenu.align-right > ul > li {
    float: none;
  }
  #cssmenu ul {
    width: auto;
  }
  #cssmenu .submenuArrow,
  #cssmenu #indicatorContainer {
    display: none;
  }
  #cssmenu > ul {
    height: auto;
    display: block;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu li,
  #cssmenu > ul > li {
    display: none;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu ul > li:hover > ul,
  #cssmenu ul ul > li:hover > ul,
  #cssmenu.align-right ul ul,
  #cssmenu.align-right ul ul ul,
  #cssmenu.align-right ul > li:hover > ul,
  #cssmenu.align-right ul ul > li:hover > ul {
    position: relative;
    left: auto;
    top: auto;
    opacity: 1;
    padding-left: 0;
    padding-right: 0;
    right: auto;
  }
  #cssmenu ul .has-sub::after {
    display: none;
  }
  #cssmenu ul li a {
    padding: 12px 20px;
  }
  #cssmenu ul ul li a {
    border: 0;
    background: none;
    width: auto;
    padding: 8px 35px;
  }
  #cssmenu.align-right ul ul li a {
    text-align: left;
  }
  #cssmenu ul ul li:hover > a {
    background: none;
    color: #8c9195;
  }
  #cssmenu ul ul ul a {
    padding: 8px 50px;
  }
  #cssmenu ul ul ul ul a {
    padding: 8px 65px;
  }
  #cssmenu ul ul ul ul ul a {
    padding: 8px 80px;
  }
  #cssmenu ul ul ul ul ul ul a {
    padding: 8px 95px;
  }
  #cssmenu > ul > #menu-button {
    display: block;
    cursor: pointer;
  }
  #cssmenu #menu-button > a {
    padding: 0.5em 0.5em;
  }
  #cssmenu ul.open li,
  #cssmenu > ul.open > li {
    display: block;
  }
  #cssmenu > ul.open > li#menu-button > a {
    color: #fff;
    border-bottom: 1px solid rgba(150, 150, 150, 0.1);
  }
  #cssmenu ul ul::after {
    display: none;
  }
  #cssmenu #menu-button::after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #7a8189;
    border-bottom: 2px solid #7a8189;
    right: 20px;
    top: 15px;
  }
  #cssmenu #menu-button::before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #7a8189;
    right: 20px;
    top: 25px;
  }
  #cssmenu ul.open #menu-button::after,
  #cssmenu ul.open #menu-button::before {
    border-color: #fff;
  }
}






/* ===================== MEDIA QUERIES ===================== */

/* 320+ 
------------------------------------------ */
@media only screen and (min-width: 20em) {
  /* Masthead specific styling for small screen*/
  
.navholder {
  margin-top:-1em;
  margin-bottom: 0.5em;
}

  .basicnav h4 {
  font-size: 0.7em;
  font-weight: 600;

}



.basicnav li {
  margin-right: 0.5em;
}

.basicnav #helpicon {
  position: fixed;
  top: 0;
  left: 1%;
}
.basicnav li {
  display: inline-block;
  text-decoration: none;
}

.basicnav {
  width: 70%;
  margin-left: 30%;

}

.basicnav a {
  text-decoration: none;
}



.footer {
    width:100%;
  height:80px;
  
    margin-left: 2em;
  
  }
  

  .footer a {
    text-decoration: none;
    
  }
 
  .footernav {
    width: 75%;
    margin-left: 12.5%;
  }
  
  .footernav li {
    display: inline-block;
  }

  #sicontainer1 {
    width: 75%;
    margin-left: 12.5%;
  }

   #sinav1 li h3 {
  
  font-family: 'socicon'; 
  }

  #sicontainer1 li {
      
    display: inline-block;
    
  }

  #sinav1 a {
    color: #0085CD;
    margin-left: 1em;
    margin-right: 1em;
  }

}
/* 480+ 
------------------------------------------ */
@media only screen and (min-width: 30em) {
  /* Masthead */


}



/* 480-767-only 
------------------------------------------ */
@media only screen and (min-width: 30em) and (max-width: 47.9375em) {
  /* Sidebar */  

  
}
/* 600-767-only 
------------------------------------------ */
@media only screen and (min-width: 37.5em) and (max-width: 47.9375em) {
  /* Sidebar */
  



}

/* 768+ 
------------------------------------------- */
@media only screen and (min-width: 48em) {

    /* Main Content where you can start adding columns*/

    main {
    float: left;
    width: 62.5%;
  } /*Only an example it can alter in terms of percentage*/

    /* Sidebar */
  .sidebar {
    float: right;
    margin-top: 1.875em;
    width: 31.25%;
  }  /* Again can alter percentages*/

  


.footer {
 
  
}

#sicontainer1 {
  float: right;
  width: 18em;
}

.footer div {
  display: inline-block;
}


#sicontainer1 {
  width: 20%;
  height: 2em;
  margin-top: -4.5em;
}

.footernav {
  width: 70%;
  height: 2em;
  margin-left: 10%;
  position: relative;
  bottom: 0em;
 
}

.footernav li {
  margin-right: 1em;
}

.footernav a,
.footernav small {
  color: #0085CD;

}

.foot {
   margin-top: 20%; 
   height:2em;
   width:90%;
}

.footerr small {
  width: 90%;
  margin-left:5%;
}


.container {
  position: relative;
  bottom: 8em;
  left: 4em;
}

.navholder {
  text-align: left;
  width: 90%;
  margin-left: 5%;
}

#searchreturn h4,
#searchreturn h2 {
  width: 90%;
  margin-left: 5%;
}

.searchhelp h6 {
  text-align: center;
}

#logosearch {
  margin-top: -3%;

}



/*DECLARATIVES INPUT STYLE
--------------------------
----------------*/

.newdeclarative {
  height: 35%;
}

.newdeclarative h2 {
  text-align: center;
  color: #0085CD;
}

.declarativeentry {
  

}

.declarativeentry input[type="url"] {
  margin-bottom: 0.5em;
  width: 95%;
  border: solid 1px;
  display: inline-block;

}

.declarative_urlsource {
  display: inline-block;
  width: 78%;
}
.declarativeentry input[type="text"],
.declarativeentry textarea {
  width: 95%;
  
  border: solid 1px;
}

.declarativeentry textarea {
  margin-bottom: 0.5em;
  height: 10em;

}

.declarative_declarativejusttext {
  width: 98%;
  display: inline-block;
  height: 6em;

}

.radiofloat .radio_buttons {
  
  
  padding: 0.3em;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #0085CD;
  color: #0085CD;
  font-size: 0.7em;
  display: inline-block;

}

.declarative_entryhierarchy {
  display: inline-block;
}

.declarativeentry h6 {
  margin: 0;
  margin-left: 5%;
}

#declarative_entryhierarchy_claim,
#declarative_entryhierarchy_evidence,
#declarative_entryhierarchy_fact,
#declarative_texttype_text,
#declarative_texttype_list_title,
#declarative_texttype_list_item {
  width: 1em;
}



.navig .chosen-single {
  font-size: 0.8em
}

.navig .declarative_reviewdate {
  width: 70%;
  margin-right: 0;
}


.declarativeentry .control-label {
  padding: 0.1em;
  border: 0;
}

.declarativeentry .radio {
  margin: 0.3em;
  

}

.declarativeentry .file {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.declarativeentry .boolean {
  display: inline-block;
  
  color: #FFFFFF;
  padding: 0.15em;
  font-size: 0.8em;

 
}

.declarativeentry input[type="Submit"] {
  width: 80%;
  display: inline-block;
  font-size: 0.7em
}

.declarative .declarative_entryend {
  float: right;
}

.navig .upload_override {
  display: none;
}

.navig #deleter {
  position: absolute;
  top: 20%;
  
}

.reportlist table {
  width: 80%;
}

.reportlist .datapoint {
  color: #0085CD;
}

.reportlist thead {
  height: 1em;
}

.reportlist th::after {  
    content: "\f0dc";  
    display: inline-block;  
    font-family: "FontAwesome";  
    margin-left: 1em;
    text-align: right;  
    
    color: #0085CD;  
    text-shadow: 0px 0px 0px rgba(0,0,0,0);  
  
} 

div.input.date {
  display: inline-block;
  float: right;
  position: relative;
  bottom: 2em;
}

.declarativeentry h4 span {
  float: right;
  margin-right: 10%;

}

.declarativeentry h4 {
  margin-left: 5%;
  margin-top: 0;
}

.declarativeentry {
  margin-right: 10%;
}

#declarative_reviewdate {
  border-width: 1px;
}


#textenter {
  margin-left: -5%;
  color: #0085CD;
}

#urlentry {

  margin-left: 1%;
  color: #0085CD;
}

#declarative_urlsource {
  margin-top: 3%;
  width: 102%;
}

.navig .boolean {
  display: inline-block;
}


.submitdec {
  float: right;
  width: 28%;
  margin-right: 2%;
  border-radius: 5px;


}

.submitdec .boolean {
  display: block;
}

.submitdec .boolean .optional {
  display: inline-block;
}

.submitdec input[type="submit"] {
  margin-top: -5%;
}





.navig {
  
}

.navig .select{
  width: 78%;
  display: inline-block;
  margin-top: 3%;
  
}
 






.navig span {
  width: 100%;
}

.navig h4 {
  margin-bottom: 0.5em;
  text-align: center;
  margin-bottom: 3%;

}



#urlsup {
  margin-left: 5%;
}

#navigtext {
  text-align: left;
}

#navigtext1 {
  width:20%;
  display: inline-block;
}

.radiofloat {
  display: inline-block;
}

.instructions {
  width: 25%;
  margin-left: 3%;
  clear: both;
  position: relative;
  top: -2em;

}

#sandy {
  top: 0em;
}

.instructions h4 {
  font-size: 0.5em;
  text-align: justify;
}

/* --- STYLE DECLARATIVES REPORT ----
-----------------*/

.reportcard {
  width: 80%;
  margin-left: 10%;
  
  
}

.reportcard a,
.searchag a {
  color: #0085CD;
  font-size: 0.7em;
  
}

.reportcard li {
  margin-left: 5%;
  margin-right:5%;
}

.reportcard h4 {
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
}

.reportcard h2,
.reportcard h3 {
  color: #0085cd;
}

.reportcard h3 {
  margin-left: 2%;
}

.reportcard small {

  font-size: 0.3em;
  color: #0085CD;
}

.reportlisttitle h4 {
  margin-left: 10%;
  text-decoration: underline;
  font-family: 'courier'
}

.reportlist {
  margin-left: 10%;
}

.sources h4,
.sources a {
  color: #0085CD;
}

.sources a {
  font-size: 0.5em;
  margin-left: 0.5%;
}

.sources {
  margin-left: 7%;
}

#searchreturn i {
  color: #0085CD;
}

.clearacc {
  height: 12em;
  overflow: auto;
}

.clearacc h4 {
  font-size: 1.3em;
  text-align: right;
}

.draftindex {
  width: 90%;
  margin-left: 5%;
}



#smallproc {
  font-size: 0.7em;
  color: #0085CD;
}


#datedraft {
  float: right;
}


/* SANDBOX STYLING ------
-------------*/

.sandbox {
  width: 90%;
  margin-left: 5%;
}

.sandbox h2 {
  text-align: center;
}

.sandboxlinks a {
  color: #0085CD;
  margin-right: 2%;
  display: block;
}

.sandboxlinks {
  margin-top: 2%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.sandinstr h3 {
  text-align: center;
}

.sandinstr {
  width: 80%;
  margin-left: 10%;
}

#smallinstr {
  width: 70%;
  margin-left: 15%;
}

.sandexplain {
  width:90%;
  margin-right: auto;
  margin-left: auto;
}

.sandexplain h2 {
  text-align: center;
}

.sandexplain h4 {
  margin-left:2%;
}

.sandexplain h5 {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  text-align: justify;
}

.sandexplain ul {
  margin-left:10%;
  font-size: 1em;
}

.clearer {
  clear: both;
  width: 40%;
  margin-left: 30%;
}

.deletesand h2 {
  text-align: center;
}

.hid {
  display: none;
}

#sandedit {
  margin-top: 20%;
}

/*----TABLE STYLING------
-----*/

.modadmin th, {
  text-align: center;
  width: 10%;
  padding-bottom: 2%;
}

#tablink a{
  color: #0085CD;
}

#tablink,
#tabname,
#tabbool {
  text-align: center;

}

#tablongtxt {
  width: 30%;
}

.modadmin td {
  border: solid 1px;
}

/*----STYLE FIND ADMIN----
------*/

.filter {
  width: 30%;
}

.filter .input {
  width: 50%;
  
  margin-left: 25%;
}

.filter .select {
  margin-left: 25%;
  text-align: center;

}

.filter input[type="Submit"] {
  margin-bottom: 2%;
  width: 50%;
} 

#fil1 {
  float: left;
  margin-left: 2%;
}

#fil2 {
  float: right;
  margin-right: 2%;

}

#fil3 {
  margin-left: 34%;
}

.sumresults {
  margin-left: 3%;
}

.sanddash {
  margin-left: 5%;
}

.sanddash a {
  color: #0085CD;
  
}

/*---STYLING PRICING _____*/

.pricing {
  height: 100%;
  margin-top: 8%;
  margin-bottom: 10%;
  width: 90%;
  margin-left: 5%;
}

.pricing h1 {
  text-align: center;

}

.pricing table {
  width:90%;
  margin-left: 5%;
}

.pricing th {
  padding-bottom: 1%;
  font-size: 2em;
  width: 16.66%;
}

.pricing td {
  width: 14.66%;
  padding-left: 1%;
  padding-right: 1%;
}

.pricing tbody tr:first-child {
  padding-bottom:2%;
  font-size: 1.2em;
  text-align: center;
  color: #0085CD;
}

.pricing td {
  font-size: 1.3em;
}

.pricing tbody td {
  padding-bottom:1%;
}

.pricing h2 {
  width: 90%;
  margin-left: 30%;
}

.pricing h2 span {
  margin-left: 30%;
}

#individual {
  width: 50%;
  margin-left:10%;
  margin-bottom:0;
}

#institutional {
  width: 26%;
  margin-left:67%;
  margin-top:0;
}

.howtopay {
  width: 90%;
  margin-left: 5%;
  margin-top: -10%;
  margin-bottom: 4%;
}

.howtopay h2 {
  text-align: center;
}

.message {
  margin-bottom: 10%;
}

.friends {
  width: 70%;
  margin-left: 12.5%;
  margin-bottom: 5%;
}

.friends h5 {
  margin-left:5%;
}

.friends h5 a {
  color: #0085CD;
  margin-left: 5%;
  font-size: 0.8em
}

.friends input[type="text"] {
  width: 80%;
}

.functions h3 {
  color: #0085CD;
}

#calendar {
  width:80%;
  margin-left: 10%;
}

.cal h5{
  text-align: center;
}

.currentissues {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5%;
}

.currentissues h5 {
  width: 90%;
  margin-left: 5%;
}

/*---STYLE sortable---*/

.ui-sortable-placeholder {  
    border: 3px dashed #aaa;  
    height: 45px;  
    width: 90%;  
    background: #ccc;  
}  

.ui-sortable li.ui-state-default h4::after {  
    content: "\f0c9";  
    display: inline-block;  
    font-family: "FontAwesome";  
    position:absolute;
    right: 15%;
    text-align: right;  
    
    color: #0085CD;  
    text-shadow: 0px 0px 0px rgba(0,0,0,0);  
    cursor: move;  
} 

.ui-sortable li.ui-state-default {
  background: #F5F5F5;
  border-radius: 5px;
}

}

/* --- image cross to delete ---*/

.img-wrap {
    position: relative;
    display: inline-block;
    
    font-size: 0;
}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px ;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 18px;
    line-height: 10px;
    border-radius: 50%;
}
.img-wrap:hover .close {
    opacity: 1;
}

/*---draft styling--*/

.draftform #Meeting,
.draftform #Lecture,
.draftform #Brainstorm,
.draftform #Website,
.draftform #Book,
.draftform #Otherpub,
#newtopics {
  display: none;
}

.draftover {
  width: 90%;
  margin-left: 5%;
  background-color: #EBEBEB;
  padding: 5px;
  margin-top: 5%;
}

.draftover .draft_sourcetype {
  width: 40%;
  margin-bottom: 1%;

}

.draftover .draft_linkcat_id {
  width: 70%;
}



.draftover .draft_sourcetype #draft_sourcetype,
.draftover .draft_linkcat_id #draft_linkcat_id{
  width: 95%;

}
.draftover  .chosen-single span {
  font-size: 0.7em;
  height: 80%;
}
#sourcetype {
  width:49%;
  float: left;
  height: 20%;
}

#Website .url,
{
  font-size: 1em;
  width: 100%;
}

#Meeting #draft_meeting_attributes_meetingwith,
#Book, #draft_book_attributes_ISBN,
#Brainstorm, #draft_brainstorm_attributes_name,
#Lecture #draft_lecture_attributes_lecturer,
#Lecture #draft_lecture_attributes_lecturetitle,
#Otherpub #draft_otherpublication_attributes_publicationtitle,
#Otherpub #draft_otherpublication_attributes_article
 {
  font-size: 1em;
  width: 70%;
  margin-bottom: 1%;
}

#Meeting #draft_meeting_attributes_meetingdate,
#Lecture #draft_lecture_attributes_lecturedate {
  font-size: 0.7em;
  width: 40%;
}

#topicchosen {
  width: 49%;
  float: right;

}

#titleissue {
  clear: both;
}

#topicchosen .select,
#sourcetype .select,
.searchform .select
 {
  height: 2.5em;
}

#issues .boolean {
  display: inline-block;
  margin-left: 1%;

}

#issues {
  font-size: 0.7em;
}
#titleissue #draft_title {
  width: 100%;
  font-size: 1.5em;
  margin-top: 1%;
  margin-bottom: 1%;
}


.draft_draftnotes textarea {
  width: 100%;
 
}



.submitdraft {
  margin-bottom: 1%;
}

#processor,
#returndraft {
  margin-top: 1%;
  margin-bottom: 1%;
}
#processor a,
#returndraft a {
  background-color: #0085CD;
  color: #FFFFFF;
  padding: 0.5em;
  border-style: solid;
  border-radius: 10px;
  border-color: #0085CD;
}

#returndraft {
  width: 10%;
  float: right;
}

.decprocess {
  margin-top: 5%;
  width: 90%;
  margin-left: 5%;
  background-color: #EBEBEB;
  padding: 1%;
}

.decprocess #thtopic {
  width: 19%;
  margin-right: 1%;
}
.decprocess #thhead {
  width: 24%;
  margin-right: 1%;
}

.decprocess #thnote {
  width: 44%;
  margin-right: 1%;
}

.decprocess #threview {
  margin-right: 1%;
}

.decprocess thead {
  margin-bottom: 5%;
}

.decprocess input[type="checkbox"] {
  margin-left: 10px;
}

.decprocess input[type="text"] {
  font-size: 0.7em;
}

.drafts,
.resultspage {
  margin-top: 5%
}

.openingnav li {
  display: inline-block;
}

#helloperson {
  margin-left: 1%;
}

.showdraft {
  width: 90%;
  margin-left: 5%;
}

.showdraft h4 {
  margin-left: 5%;
}

.showdraft .notebookarea {
  width: 100%;
  background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;

 font: normal 14px verdana;
 line-height: 25px;
 padding: 2px 100px;

 border: none;
}

.cardshow {
  margin-top: 5%;
}




  /* --- end media queries ---- */


/* html5boilerplate.com Clearfix
--------------------------------- */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
