Hello <%= @fname %>,
<p>Your email address has now been confirmed. We are reviewing your eligibility and we will be in contact shortly.</p>
Kind regards
<p>The Minerva Team</p>
wwww.minervasi.com
<p>info@minervasi.com</p>
