
    Dear <%= @friendfname %>,

    You have a friend request from <%= @sendfname %><span>&nbsp</span><%= @sendlname %>.  Please login and go to your dashboard to confirm or decline the request.
<p></p>
    Kind Regards
    <p></p>

    The Minerva team

   
