
    Dear <%= @sendfname %>,

    You have a friend request from <%= @friendfname %>&nbsp<%= @friendlname %>.  Please login and go to your dashboard to confirm or decline the request.
<p></p>
    Kind Regards
    <p></p>

    The Minerva team

   
