



<div class="emailstyle">
<p></p>
<%= @email %> Thank you for signing up for our updates!
<p>We understand that your time is important so we will only send emails with details about the release of new content and significant news from Minerva.</p>
<p>Remember, you can always get in touch with us at info@minervasi.com</p>

Kind Regards

<p>The Minerva Team</p>
www.minervasi.com
</div>


