
<% if resource.encrypted_password.empty? %>

	<p>Welcome to Minerva <%= @resource.fname %>!</p>


We are pleased to let you know that your account has been created! Set up your password through the link below and you are ready to go.


	<p><%= link_to 'Set my password', edit_password_url(@resource, reset_password_token: @token) %></p>


We hope that Minerva will help you save valuable time in your research, letting you focus on what really counts, making the right investment decision! And remember, you can always get in touch with us but simply emailing info@minervasi.com
Thank you,(devise)


<% else %>

	<p>Hello <%= @resource.fname %>!</p>

	<p>Someone has requested a link to change your password. You can do this through the link below.</p>

	<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

	<p>If you didn't request this, please ignore this email.</p>
	<p>Your password won't change until you access the link above and create a new one.</p>

<% end %>
